
.groupbox
  .groupbox__name
    = link_to "#{group.name}", group_path(group.id), class: "groupbox__name--size-15"
  .groupbox__message
    - if group.messages.last
      = link_to "#{group.messages.last.text}", group_path(group.id), class: "groupbox__message--size-11"
    - else
      = link_to "", group_path(group.id), class: "groupbox__message--size-11"
